<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Name job</th>
      <th>Department</th>
      <th>Company</th>
      <th>Type contraction</th>
      <th>Role</th>
      <th>Description</th>
      <th>Mean activity</th>
      <th>Requirement</th>
      <th>Desirable</th>
      <th>Email send cv</th>
      <th>Salary</th>
      <th>Benefits</th>
      <th>English</th>
      <th>Spanish</th>
      <th>Quantity vacancy</th>
      <th>End date</th>
      <th>Job filled</th>
      <th>Slug</th>
      <th>Img1</th>
      <th>Inactive</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name_job %></td>
        <td><%= job.department %></td>
        <td><%= job.company %></td>
        <td><%= job.type_contraction %></td>
        <td><%= job.role %></td>
        <td><%= job.description %></td>
        <td><%= job.mean_activity %></td>
        <td><%= job.requirement %></td>
        <td><%= job.desirable %></td>
        <td><%= job.email_send_cv %></td>
        <td><%= job.salary %></td>
        <td><%= job.benefits %></td>
        <td><%= job.english %></td>
        <td><%= job.spanish %></td>
        <td><%= job.quantity_vacancy %></td>
        <td><%= job.end_date %></td>
        <td><%= job.job_filled %></td>
        <td><%= job.slug %></td>
        <td><%= job.img1 %></td>
        <td><%= job.inactive %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
