<p id="notice"><%= notice %></p>

<p>
  <strong>Name job:</strong>
  <%= @job.name_job %>
</p>

<p>
  <strong>Department:</strong>
  <%= @job.department %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Type contraction:</strong>
  <%= @job.type_contraction %>
</p>

<p>
  <strong>Role:</strong>
  <%= @job.role %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Mean activity:</strong>
  <%= @job.mean_activity %>
</p>

<p>
  <strong>Requirement:</strong>
  <%= @job.requirement %>
</p>

<p>
  <strong>Desirable:</strong>
  <%= @job.desirable %>
</p>

<p>
  <strong>Email send cv:</strong>
  <%= @job.email_send_cv %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>Benefits:</strong>
  <%= @job.benefits %>
</p>

<p>
  <strong>English:</strong>
  <%= @job.english %>
</p>

<p>
  <strong>Spanish:</strong>
  <%= @job.spanish %>
</p>

<p>
  <strong>Quantity vacancy:</strong>
  <%= @job.quantity_vacancy %>
</p>

<p>
  <strong>End date:</strong>
  <%= @job.end_date %>
</p>

<p>
  <strong>Job filled:</strong>
  <%= @job.job_filled %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @job.slug %>
</p>

<p>
  <strong>Img1:</strong>
  <%= @job.img1 %>
</p>

<p>
  <strong>Inactive:</strong>
  <%= @job.inactive %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
