<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Variable name:</strong>
  <%= @department.variable_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @department.description %>
</p>

<p>
  <strong>Inactive:</strong>
  <%= @department.inactive %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @department.slug %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
