<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @candidate.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @candidate.cellphone %>
</p>

<p>
  <strong>Date birth:</strong>
  <%= @candidate.date_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @candidate.gender %>
</p>

<p>
  <strong>Job:</strong>
  <%= @candidate.job %>
</p>

<p>
  <strong>File:</strong>
  <%= @candidate.file %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @candidate.linkedin %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @candidate.portfolio %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @candidate.short_description %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @candidate.accepted %>
</p>

<p>
  <strong>Available change city:</strong>
  <%= @candidate.available_change_city %>
</p>

<p>
  <strong>License car:</strong>
  <%= @candidate.license_car %>
</p>

<p>
  <strong>Type license car:</strong>
  <%= @candidate.type_license_car %>
</p>

<p>
  <strong>Have car:</strong>
  <%= @candidate.have_car %>
</p>

<p>
  <strong>City:</strong>
  <%= @candidate.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @candidate.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @candidate.country %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @candidate.slug %>
</p>

<p>
  <strong>Good profile:</strong>
  <%= @candidate.good_profile %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @candidate.observation %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
