<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Variable name:</strong>
  <%= @company.variable_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Inactive:</strong>
  <%= @company.inactive %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @company.slug %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
