<!-- Modal -->
<div class="modal fade" id="ModalResetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalResetPassword" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalResetPassword">
          <%= t('change_password') %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= form_for(resource, as: resource_name, url: user_registration_path, html: { id:  'form_reset_password', method: :put }) do |f| %>
        <%#= form_for(resource, as: resource_name, local: true, url: registration_path(resource_name), html: { :id => 'form_reset_password', method: :put }) do |f| %>
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">
              <%= t('old_password') %>
            </label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-lock"></i>
                </div>
              </div>
                <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', required: true, placeholder: t('p_old_password'), pattern: '.{6,64}', maxlength: 64, minlength: 6, id: 'form_reset_password_old_password', 'data-purpose' => 'password', 'aria-invalid' => 'true' %>
            </div>
          </div>
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">
              <%= t('password') %>
            </label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-lock"></i>
                </div>
              </div>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control', required: true, placeholder: t('p_password'), pattern: '.{6,64}', maxlength: 64, minlength: 6, id: 'form_reset_password_password', 'data-purpose' => 'password', 'aria-invalid' => 'true' %>
            </div>
          </div>
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">
              <%= t('confirm_password') %>
            </label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-unlock"></i>
                </div>
              </div>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', required: true, placeholder: t('p_confirm_password'), pattern: '.{6,64}', maxlength: 64, minlength: 6, id: 'form_reset_password_confirm_password', 'data-purpose' => 'password', 'aria-invalid' => 'true' %>
            </div>
          </div>
          
          <div class="col-auto text-center mt-3">
            <%= f.submit t('update_information_user'), class: "btn btn-primary w90", id: 'form_reset_password_btn_update' %>  
          </div>
          
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= t('close') %>
        </button>
      </div>
    </div>
  </div>
</div>